
    <div class="flex" fxLayout="row">
        
            <img class="icon" src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg" alt="Remind Me">
            
                <img class="icon" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg" alt="Collabarator">
            
                <img class="icon" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg" alt="Collabarator">
            
                <img class="icon" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="image">
            
            
                <img class="icon" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="archive">
                  
            
                <img class="icon" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="more">
                   
    </div>


