<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="note" style="border: 2px solid rgb(227, 222, 222); width:40%">
        <div *ngIf="isShow" fxLayout="row">
            <input class="title" style="width:99%;" placeholder="Title" [(ngModel)]="title">
            <img src="../../../assets/push_pin_black_24dp.svg" alt="pin">

        </div>
        <div>
        <div  *ngIf="!isShow || isShow" (click)="show()" fxLayout="row">
            <input class="takenote" style="width: 99%;" placeholder="Take a note ..." [(ngModel)]="description">
            <span  fxLayout="row" *ngIf="!isShow" style="float:right; margin-bottom: 1px;" fxHide.xs="true" fxHide.sm="true">
                <img style="height: 20px;width: 20px; padding-top: 8px;"
                    src="../../../assets/check_box_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <img style="height: 20px;width: 20px; padding-top: 8px; padding-left: 8px;"
                    src="../../../assets/brush_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                <img style="height: 20px;width: 20px; padding-top: 8px; padding-left: 8px;"
                    src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg" alt="">              
            </span>
        </div>
        <div class="flex" *ngIf="isShow" >
            <div class="noteDisplaySetting"  fxLayout="row">
                <app-icons class="allicons"></app-icons>
                <button class="close" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>