<div fxLayout="row wrap">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="noteDisplaySetting"
        *ngFor="let note of recievedNoteList">
        <div [style.background]="note.bgColor" style="height: 200px;width: 250px;border-radius: 14px;">
            <div class="notes">
                <p (click)="openDialog(note)"> {{note.title}}
                </p>
                <p (click)="openDialog(note)"> {{note.description}}</p>

                <!-- <p style="margin-left: -100px;">
                    {{note.data}} {{note.bgColor}}
                </p> -->
            </div>
            <div class="flex" style="margin-top: 100px">
                <app-icons  (archiveEvent)="archiveMessage($event)" (trashEvent)="trashMessage($event)"
                    (deleteEvent)="deleteMessage($event)" (updateEvent)="updateMessage($event)" [notedata]="note"> </app-icons>
            </div>
        </div>

    </div>
</div>